{% block footer %}

<footer class="page-footer font-small stylish-color-dark pt-4 wholeFooter">
  

  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact us!</h5>
        <p>
          +1<br />
          UniShop@umich.edu<br />
          UMD
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="links">LinkedIn</a>
          </li>
          <li>
            <a href="#!" class="links">Twitter</a>
          </li>
          <li>
            <a href="#!" class="links">Facebook</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Policy</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" class="links">Terms of Use</a>
          </li>
          <li>
            <a href="#!" class="links">Privacy Policy</a>
          </li>
          <li>
            <a href="#!" class="links">Terms and Condition</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="seperatorRule" />
</footer>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>

{% endblock %}
